In [1]:
import pandas as pd
import numpy as np

In [12]:
df_inicial = pd.read_csv(r'C:\Users\carlo\OneDrive\ANALYTICS\ANALYTICS - IRONHACK\PORTFOLIO\PROJETOS\PROJETO_FINAL_CURSO\Nacoes_Unidas\Dados_Nacoes_Unidas\IAEG+DF_UNDATA_MDG+1.2_2023_05_15_18_02_14.csv', 
                        sep=';',
                        low_memory=False)

In [14]:
df_inicial.head()

,DATAFLOW,FREQ,SERIES,UNIT,LOCATION,AGE_GROUP,SEX,REF_AREA,SOURCE_TYPE,TIME_PERIOD,OBS_VALUE,UNIT_MULT,TIME_DETAIL,NATURE,SOURCE_DETAIL,FOOTNOTES
0,IAEG:DF_UNDATA_MDG(1.2),A,AG_LND_FRST,PERCENT,T,NaN,NaN,ABW,NaN,1990,0.000000,0,1990,E,NaN,NaN
1,IAEG:DF_UNDATA_MDG(1.2),A,AG_LND_FRST,PERCENT,T,NaN,NaN,ABW,NaN,2000,0.000000,0,2000,E,NaN,NaN
2,IAEG:DF_UNDATA_MDG(1.2),A,AG_LND_FRST,PERCENT,T,NaN,NaN,ABW,NaN,2005,0.000000,0,2005,E,NaN,NaN
3,IAEG:DF_UNDATA_MDG(1.2),A,AG_LND_FRST,PERCENT,T,NaN,NaN,ABW,NaN,2010,0.000000,0,2010,E,NaN,NaN
4,IAEG:DF_UNDATA_MDG(1.2),A,AG_LND_FRST,PERCENT,T,NaN,NaN,AFG,NaN,1990,2.070266,0,1990,E,NaN,NaN